<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

      <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sed blanditiis distinctio earum neque nihil nam iusto eius totam, esse, sint quis eos dolores quibusdam expedita deserunt voluptas reprehenderit aspernatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sed blanditiis distinctio earum neque nihil nam iusto eius totam, esse, sint quis eos dolores quibusdam expedita deserunt voluptas reprehenderit aspernatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sed blanditiis distinctio earum neque nihil nam iusto eius totam, esse, sint quis eos dolores quibusdam expedita deserunt voluptas reprehenderit aspernatur.</p>
      </div>
  <%- include('./partials/footer.ejs') %> 
</body>
</html>